// .styled-input,
// .styled-textarea,
// .styled-file-input {
//   border-radius: 0.5rem;
//   background-color: #212529;
//   color: #fff;
// }

// .styled-submit-btn {
//   border-radius: 0.5rem;
// }

// .styled-form label {
//   color: #fff;
// }

// .styled-file-input::file-selector-button {
//   color: #fff;
//   background-color: #28a745;
//   border-color: #28a745;
// }

// .styled-file-input::file-selector-button:hover {
//   background-color: #218838;
//   border-color: #1e7e34;
// }
.title {
  color: salmon;
  font-size: x-large;
  padding-top: 2px;
}
// .container {
//   background-color: #352f44;
//   color: white;
//   padding-bottom: 20px;
//   border-radius: 30px;
// }
